h2 {
  font-family: 'Jura', sans-serif;
  font-size: 50px;
}

.header-section {
    position: relative;
    font-family: 'Jura', sans-serif;
    width: 100%;
    height: calc(100vh - 5vw);
    background-image: url(../images/mountains2.jpg);
    text-align: center;
    padding-top: 200px;
    color: #f67e7d;
}

/* .header-text {
  position: absolute;
  top: 200px;
} */

.down-arrow {
  position: absolute;
  /* margin-top: 100px; */
  bottom: 400px;
  right: 50%;
}

.arrow-btn {
  width: 80px;
  font-size: 25px;
  background-color: 	#5a819e;
  border-color: 	#5a819e;
}

.arrow-btn:hover {
  background-color: #acc0ce;
  border-color: #acc0ce;
}

.portfolio-header {
  margin-bottom: 20px;
}

.project1 {
  /* background-image: url(../images/trytech.jpg);
  height: 400px;
  width: 80%;
  border: 2px solid black;
  margin-left: 25px;
  margin-top: 30px; */
  margin-left: 35px;
  position: relative;
  height: auto;
  width: 75%;
  border: 2px solid grey;
}

.trytech-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project1-text {
  background-color:	#6cc3bd;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  margin-top: 5px;
}

.project1:hover .trytech-img {
  opacity: 0.3;
}

.project1:hover .middle {
  opacity: 1;
}

.portfolio-section {
  margin-bottom: 200px;
}

.about-section {
  margin-top: 100px;
}

/* Underline for nav items */
ul { 
    /* margin: 150px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px; */
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
  }
  a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f67e7d;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a:hover:after { 
    width: 100%; 
    left: 0; 
  }